        @font-face{
            font-family: plexMono;
            src: url(./fonts/IBMPlexMono-Regular.otf);
            font-weight: normal;
            font-display: swap;
        }
        @font-face{
            font-family: plexMono;
            src: url(./fonts/IBMPlexMono-SemiBold.otf);
            font-weight: bold;
            font-display: swap;
        }
        @font-face{
            font-family: plexMono;
            src: url(./fonts/IBMPlexMono-Italic.otf);
            font-weight: normal;
            font-style: italic;
            font-display: swap;
        }
        @font-face{
            font-family: plexMono;
            src: url(./fonts/IBMPlexMono-SemiBoldItalic.otf);
            font-weight: bold;
            font-style: italic;
            font-display: swap;
        }
        body {
            background-color: #080808;
            color: #f0f0f0;
            font-family: plexMono;
            font-size: 20px;
            line-height: 1.6;
            margin: 50px auto;
            max-width: 800px;
            padding: 0px 15px 15px 15px;
        }
        ::-moz-selection {
        color: #2cd9d0;
        background: #080808;
        }
        ::selection {
        color: #2cd9d0;
        background: #080808;
        }
        
        h2,h2,h3{
            font-size:28px;
        }
        a:link {
            color: lightseagreen;
        }
        a:visited {
            color: lightseagreen;
        }
        code, .code {
            font-size: 85%;
            color:lightseagreen;
        }
        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 30%;
        }